## 第二章 pandas数据加载与文件格式

### 2.1 文件加载
#### 1. 文件加载
1. 如下所示, 一个不带列名的csv文件, 内容如下   
  1. header=None : 设置读取的文件不带列名
  2. sep=',' : 设置文件分隔符为逗号
  3. names=[string] : 指定列名
  4. index_col=string : 把指定列名的column作为索引

In [50]:
import pandas as pd
! cat ../example/ex.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [11]:
# 忽略列名读取文件
pd.read_csv("../example/ex.csv" ,header=None, sep=",")

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [23]:
# 制定列名
pd.read_csv("../example/ex.csv" ,names=list('abcde'))

   a   b   c   d      e
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [24]:
# 指定索引列
pd.read_csv("../example/ex.csv",names= ['a', 'b', 'c', 'd', 'msg'],index_col='msg')

       a   b   c   d
msg
hello  1   2   3   4
world  5   6   7   8
foo    9  10  11  12

#### 2. 多级索引文件读取
1. 对于有多级索引结构的文件, 通过指定index_col=list[]

In [28]:
# 多级索引读取
pd.read_csv("../example/csv_mindex.csv",index_col=['key1','key2'])

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

#### 3. 指定缺失值在文件中的表示方式  
1. na_values=list[string] : 指定缺失值在文件中的表述方式  
2. na_values=dict('columnIdx':[list(string)]) : map分别指定每列不同的空值字符串

In [29]:
! cat ../example/ex2.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,NULL,,8,world
three,9,10,11,12,foo

In [40]:
# 缺失值读取
# pd.options.display.max_rows = 2 显示的行数(头尾个1行)
pd.read_csv('../example/ex2.csv', na_values=['-1'])

   something  a     b     c   d message
0        one  1   2.0   3.0   4     NaN
..       ... ..   ...   ...  ..     ...
2      three  9  10.0  11.0  12     foo

[3 rows x 6 columns]

#### 4. 存储文件
1. 存成pickle文件 : 一种不稳定的二进制格式  
 df.to_pickle()
2. 存成HDF5文件 :  一种存储大规模科学数组数据的非常好的文件格式
 df.to_hdf()

In [53]:
df = pd.DataFrame({'a':[1,2,3],'b':[4,5,6]},index=['orange','apple','banana'])
df.to_pickle("./tmp/test.pkl")